html{
	background:linear-gradient(#FF6666 0%,#336699 20%);/*背景渐变颜色*/
    height: 100%;
    color:#99cc33;/*文字颜色*/
}

/*最外层容器样式*/
.wrap{
	width: 500px;
	height: 500px;
	/*改变左右上下,图片方块移动*/
	margin: 350px auto;
	position: relative;
	
}
/*包裹所有容器样式*/
.cube{
	width: 500px;
	height: 500px;
	margin: 0 auto;
	transform-style: preserve-3d;
	transform: rotateX(-30deg) rotateY(-80deg);
	-webkit-animation: rotate 20s infinite;
	/*匀速*/
	animation-timing-function: linear;
}
@-webkit-keyframes rotate{
	from{transform: rotateX(0deg) rotateY(0deg);}
	to{transform: rotateX(360deg) rotateY(360deg);}
}
.cube div{
	position: absolute;
	width: 500px;
	height: 500px;
	opacity: 95%;
	transition: all .4s;
}
/*定义所有图片样式*/
.pic{
	width: 500px;
	height: 500px;
}
.cube .out_front{
	transform: rotateY(0deg) translateZ(250px);
}
.cube .out_back{
	transform: translateZ(-250px) rotateY(180deg);
}
.cube .out_left{
	transform: rotateY(90deg) translateZ(250px);
}
.cube .out_right{
	transform: rotateY(-90deg) translateZ(250px);
}
.cube .out_top{
	transform: rotateX(90deg) translateZ(250px);
}
.cube .out_bottom{
	transform: rotateX(-90deg) translateZ(250px);
}
/*定义小正方体样式
*/
.cube span{
	display: bloack;
	width: 300px;
	height: 300px;
	position: absolute;
	top: 110px;
	left: 110px;
}
.cube .in_pic{
	width: 300px;
	height: 300px;
}
.cube .in_front{
	transform: rotateY(0deg) translateZ(150px);
}
.cube .in_back{
	transform: translateZ(-150px) rotateY(180deg);
}
.cube .in_left{
	transform: rotateY(90deg) translateZ(150px);
}
.cube .in_right{
	transform: rotateY(-90deg) translateZ(150px);
}
.cube .in_top{
	transform: rotateX(90deg) translateZ(150px);
}
.cube .in_bottom{
	transform: rotateX(-90deg) translateZ(150px);
}
/*鼠标移入后样式*/
.cube:hover .pic{
	width: 600px;
	height: 600px;
}
.cube:hover div{
	position: absolute;
	width: 600px;
	height: 600px;
	opacity: 0.8;
	transition: all .4s;
}
.cube:hover .out_front{
	transform: rotateY(0deg) translateZ(400px);

}
.cube:hover .out_back{
	transform: translateZ(-400px) rotateY(180deg);
}
.cube:hover .out_left{
	transform: rotateY(90deg) translateZ(400px);
}
.cube:hover .out_right{
	transform: rotateY(-90deg) translateZ(400px);
}
.cube:hover .out_top{
	transform: rotateX(90deg) translateZ(400px);
}
.cube:hover .out_bottom{
	transform: rotateX(-90deg) translateZ(400px);
}
.hovertreeinfo{text-align:center;}
.hovertreeinfo a{color:white}